In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel(r'C:\Users\Atul\Desktop\Aegis\cmc\job task\Square panda\DataTest_Question1.xlsx')

In [3]:
df.shape

(309625, 18)

#### Rearrange columns for readability

In [4]:
df=df[['id', 'childid', 'userid', 'gamename', 'nonsensewords', 'word',
       'wordtype', 'createdat', 'starttime', 'endtime', 'start_ms_time',
       'end_ms_time', 'duration', 'platform', 'dnc', 'gender', 'dateofbirth',
       'gamescore']]

In [5]:
df.head()

,id,childid,userid,gamename,nonsensewords,word,wordtype,createdat,starttime,endtime,start_ms_time,end_ms_time,duration,platform,dnc,gender,dateofbirth,gamescore
0,57830938206ac2317f5a957b,149,11,Bowling,False,POD,WORD,2016-07-11 02:49:28.421,1.468206e+09,1.468206e+09,NaN,NaN,23.0,NaN,1.0,M,2014-07-06 00:00:00,1.0
1,57848a78f3a1395b14b2b463,150,11,Bowling,False,SUM,WORD,2016-07-12 06:13:12.252,1.468304e+09,1.468304e+09,NaN,NaN,21.0,NaN,1.0,F,2011-07-06 00:00:00,1.0
2,57854751bada44451d58ae0e,943,279,Bowling,False,BOX,WORD,2016-07-12 19:38:57.303,1.468353e+09,1.468353e+09,NaN,NaN,18.0,NaN,1.0,O,2015-05-28 00:00:00,1.0
3,578874d5515961826c267444,186,18,Lagoon,False,RAM,WORD,2016-07-15 05:29:57.875,1.468215e+09,1.468215e+09,NaN,NaN,1.0,NaN,1.0,F,1992-05-12 00:00:00,1.0
4,5789811d515961826c267908,196,69,Bowling,False,BIG,WORD,2016-07-16 00:34:37.138,1.468629e+09,1.468629e+09,NaN,NaN,53.0,NaN,0.0,F,2012-12-17 00:00:00,1.0

#### Using only rows where dnc = 0.

In [6]:
df1=df[df["dnc"]==0]

In [7]:
df1.shape

(228209, 18)

#### Checking unique values

In [8]:
df1.nunique()

id               228209
childid            2823
userid             1631
gamename             10
nonsensewords         2
word              25391
wordtype              2
createdat        228059
starttime        224303
endtime          224773
start_ms_time    195007
end_ms_time      195008
duration           2380
platform              2
dnc                   1
gender                3
dateofbirth        1613
gamescore             9
dtype: int64

#### check Null values

In [9]:
df1.isnull().sum()

id                    0
childid               0
userid                0
gamename              0
nonsensewords         0
word              20574
wordtype              0
createdat             0
starttime            89
endtime              89
start_ms_time     30780
end_ms_time       30780
duration             21
platform         139710
dnc                   0
gender               32
dateofbirth       13994
gamescore         15832
dtype: int64

#### Drop the rows(activity) with has no words or gamescore or start time from analysis

In [10]:
df1 = df1.dropna(axis=0, subset=['word','gamescore','starttime','start_ms_time'])

#### Replaceing Other Null values which are not recorded

In [11]:
df1['platform'].replace(np.NaN,"Others",inplace=True)
df1['gender'].replace(np.NaN,"not recorded",inplace=True)
df1['dateofbirth'].replace(np.NaN,"not recorded",inplace=True)
df1.isnull().sum()

id               0
childid          0
userid           0
gamename         0
nonsensewords    0
word             0
wordtype         0
createdat        0
starttime        0
endtime          0
start_ms_time    0
end_ms_time      0
duration         0
platform         0
dnc              0
gender           0
dateofbirth      0
gamescore        0
dtype: int64

In [12]:
df1.shape

(163518, 18)

#### Breaking Date time into components

In [13]:
# day
df1['Start_Day'] = df1["createdat"].dt.day
# month
df1['Month'] = df1["createdat"].dt.strftime("%B")
# year
df1['Year'] = df1["createdat"].dt.year
# hour
df1['Start_hour'] = df1["createdat"].dt.hour
# minute
df1['Start_minute'] = df1["createdat"].dt.minute
# second
df1['Start_second'] =df1["createdat"].dt.second
# weekday
df1['Start_weekday'] =df1["createdat"].dt.strftime("%A")

In [17]:
df1=df1[['id', 'childid', 'userid', 'gamename', 'nonsensewords', 'word',
       'wordtype','Start_Day','Start_weekday', 'Month', 'Year', 'Start_hour','Start_minute',
       'Start_second','duration', 'platform', 'dnc', 'gender', 'dateofbirth','gamescore']]

In [61]:
df1=df1.reset_index()

In [65]:
df1=df1.drop("index",axis=1)

In [66]:
df1.head()

,id,childid,userid,gamename,nonsensewords,word,wordtype,Start_Day,Start_weekday,Month,Year,Start_hour,Start_minute,Start_second,duration,platform,dnc,gender,dateofbirth,gamescore
0,5820c484beb9bb2235711616,288,124,Bubbles,False,BRAND,WORD,7,Monday,November,2016,18,14,28,147.0,Others,0.0,M,2011-11-02 00:00:00,1.0
1,582203aefd4162335dc40a66,373,178,Bubbles,False,SWEPT,WORD,8,Tuesday,November,2016,16,56,14,164.0,Others,0.0,F,2010-05-11 00:00:00,1.0
2,58222769fd4162335dc4118c,246,95,Lagoon,True,BADTIME,WORD,8,Tuesday,November,2016,19,28,41,196.0,Others,0.0,F,2004-07-19 00:00:00,0.0
3,581e8c8364e866590e1e896e,996,450,Bowling,False,HOP,WORD,6,Sunday,November,2016,1,50,59,82.0,Others,0.0,M,2013-07-11 00:00:00,1.0
4,5820fc52beb9bb2235711b4e,721,353,Lagoon,False,ALL,WORD,7,Monday,November,2016,22,12,34,58.0,Others,0.0,M,2010-08-01 00:00:00,1.0

# Questions

#### Q1 a)  ‘Session-ize’ the activities: Can you group activities in a way to create sessions out of activities that are close together?

#### I have decided to create 3 sessions per day as morning_sessions,afternoon_sessions,night_sessions

In [106]:
df_mrg=df1[df1["Start_hour"]<12]

In [114]:
df_mrg.shape

(29832, 20)

In [112]:
df_afternoon=df1[(df1["Start_hour"]>=12) & (df1["Start_hour"]<=18)]

In [113]:
df_afternoon.shape

(89211, 20)

In [115]:
df_night=df1[df1["Start_hour"]>18]

In [116]:
df_night.shape

(44475, 20)

### Creating Session

#### Per day Morning sessions-Hour wise

In [160]:
morning_sessions=df_mrg.groupby(["Start_Day","Start_hour"])
morning_sessions.first()

                                            id  childid  userid   gamename  \
Start_Day Start_hour
1         0           586847443635a5c077c79188     1486     692     Lagoon
          1           58913e86a909d19a7e17f288     1755     794     Lagoon
          2           583f84ce85c423a614646ecf     1211     523  Letterlab
          3           586871c33635a5c077c7a818     1490     696    Farming
          4           58b650563e26899638c4ba0b     1800     818    Farming
...                                        ...      ...     ...        ...
31        7           589043d1a909d19a7e17a8d5     1303     565  Letterlab
          8           58de184924b6d33435fb6203     2704    1223    Farming
          9           58de1bc224b6d33435fb6299     2704    1223    Farming
          10          58de345f24b6d33435fb636c     2704    1223    Farming
          11          58de3f1524b6d33435fb64e5     2704    1223     Lagoon

                      nonsensewords word wordtype Start_weekday     Month  \
Start_Day Start_hour
1         0                   False  MAP     WORD        Sunday   January
          1                    True    R   LETTER     Wednesday  February
          2                   False  PIG     WORD      Thursday  December
          3                    True    J   LETTER        Sunday   January
          4                   False    E   LETTER     Wednesday     March
...                             ...  ...      ...           ...       ...
31        7                   False  HEN     WORD       Tuesday   January
          8                    True    J   LETTER        Friday     March
          9                    True    W   LETTER        Friday     March
          10                   True    O   LETTER        Friday     March
          11                   True  GGE     WORD        Friday     March

                      Year  Start_minute  Start_second  duration platform  \
Start_Day Start_hour
1         0           2017             3            16      70.0   Others
          1           2017            48            54      22.0   Others
          2           2016             2            54     319.0   Others
          3           2017             4            35      36.0   Others
          4           2017            38            46      14.0   Others
...                    ...           ...           ...       ...      ...
31        7           2017            59            13     336.0   Others
          8           2017            50            17       8.0   Others
          9           2017             5             6      46.0   Others
          10          2017            50             7      25.0   Others
          11          2017            35            49      61.0      iOS

                      dnc gender dateofbirth  gamescore
Start_Day Start_hour
1         0           0.0      F  2007-08-31        1.0
          1           0.0      F  2013-01-01        0.0
          2           0.0      F  2011-05-29        1.0
          3           0.0      M  2007-07-06        2.0
          4           0.0      M  2014-06-19        1.0
...                   ...    ...         ...        ...
31        7           0.0      M  2012-07-28        1.0
          8           0.0      F  2010-07-28        2.0
          9           0.0      F  2010-07-28        3.0
          10          0.0      F  2010-07-28        2.0
          11          0.0      F  2010-07-28        0.0

[364 rows x 18 columns]

#### Per day afternoon sessions-Hour wise

In [133]:
afternoon_sessions=df_afternoon.groupby(["Start_Day","Start_hour"])
afternoon_sessions.first()

                                            id  childid  userid  \
Start_Day Start_hour
1         12          58b6c20ca9d90f6b0f1acc3c     2297    1029
          13          5869086f3635a5c077c7a957     1443     672
          14          584037c485c423a6146471ab      740     322
          15          5840449985c423a6146472de      761     357
          16          5840495885c423a614647419      246      95
...                                        ...      ...     ...
31        14          5867c7693635a5c077c7885e     1012     464
          15          5867cb423635a5c077c7890b     1382     621
          16          5867e0903635a5c077c78ad2     1256     534
          17          5867eeb53635a5c077c78be6     1488     694
          18          5867fedc3635a5c077c78cdc     1384     623

                            gamename  nonsensewords    word wordtype  \
Start_Day Start_hour
1         12                  Lagoon           True  GRASON     WORD
          13                  Lagoon           True  MONPEY     WORD
          14                 Bubbles          False     HOG     WORD
          15                  Lagoon          False     POP     WORD
          16                 Bowling          False     ROB     WORD
...                              ...            ...     ...      ...
31        14                  Lagoon           True     JUA     WORD
          15                  Lagoon          False   SNAKE     WORD
          16                  Lagoon          False    DEER     WORD
          17                 Bowling          False     CAT     WORD
          18          Monster Rhymes          False     DIP     WORD

                     Start_weekday     Month  Year  Start_minute  \
Start_Day Start_hour
1         12             Wednesday     March  2017            43
          13                Sunday   January  2017            47
          14              Thursday  December  2016            46
          15              Thursday  December  2016            41
          16              Thursday  December  2016             1
...                            ...       ...   ...           ...
31        14              Saturday  December  2016            57
          15              Saturday  December  2016            14
          16              Saturday  December  2016            45
          17              Saturday  December  2016            45
          18              Saturday  December  2016            54

                      Start_second  duration platform  dnc gender dateofbirth  \
Start_Day Start_hour
1         12                    56      71.0   Others  0.0      F  2009-12-30
          13                    27      27.0   Others  0.0      F  2015-05-17
          14                    28      75.0   Others  0.0      F  2012-06-12
          15                    13      45.0   Others  0.0      M  2010-04-18
          16                    28      37.0   Others  0.0      F  2004-07-19
...                            ...       ...      ...  ...    ...         ...
31        14                    45      52.0   Others  0.0      F  2012-05-02
          15                    10     100.0   Others  0.0      M  2016-07-21
          16                     4      36.0   Others  0.0      F  2011-12-30
          17                    25      66.0   Others  0.0      M  2012-08-22
          18                    20      40.0   Others  0.0      M  2012-04-17

                      gamescore
Start_Day Start_hour
1         12                0.0
          13                0.0
          14                1.0
          15                1.0
          16                1.0
...                         ...
31        14                0.0
          15                1.0
          16                1.0
          17                1.0
          18                1.0

[217 rows x 18 columns]

#### Per day night sessions-Hour wise

In [134]:
night_sessions=df_night.groupby(["Start_Day","Start_hour"])
night_sessions.first()

                                            id  childid  userid  \
Start_Day Start_hour
1         19          584075f385c423a6146484bf      246      95
          20          58408e0b85c423a614648aa0      761     357
          21          5840961285c423a6146490f0      561     292
          22          586983553635a5c077c7ae0b     1497     702
          23          5840ae4f85c423a6146495c0     1177     512
...                                        ...      ...     ...
31        19          586801833635a5c077c78d27     1485     691
          20          58681be53635a5c077c78eaf      948     433
          21          586823a23635a5c077c78fda     1437     668
          22          58682bb93635a5c077c790d3     1371     613
          23          5868395f3635a5c077c79154     1373     615

                            gamename  nonsensewords  word wordtype  \
Start_Day Start_hour
1         19                  Lagoon          False  DEAD     WORD
          20                  Lagoon           True     P   LETTER
          21                  Lagoon          False  BARN     WORD
          22              Space Cows          False     R   LETTER
          23                 Bowling          False   WIN     WORD
...                              ...            ...   ...      ...
31        19                 Bowling          False   BIG     WORD
          20                  Lagoon           True   PVS     WORD
          21          Jiggity Jamble          False    SA     WORD
          22                  Lagoon           True   NIC     WORD
          23                  Lagoon          False   POP     WORD

                     Start_weekday     Month  Year  Start_minute  \
Start_Day Start_hour
1         19              Thursday  December  2016            11
          20              Thursday  December  2016            54
          21              Thursday  December  2016            28
          22                Sunday   January  2017            31
          23              Thursday  December  2016            12
...                            ...       ...   ...           ...
31        19              Saturday  December  2016             5
          20              Saturday  December  2016            58
          21              Saturday  December  2016            31
          22              Saturday  December  2016             5
          23              Saturday  December  2016             3

                      Start_second  duration platform  dnc gender dateofbirth  \
Start_Day Start_hour
1         19                    47      95.0   Others  0.0      F  2004-07-19
          20                    35      52.0   Others  0.0      M  2010-04-18
          21                    50      91.0   Others  0.0      M  2012-10-09
          22                    49      30.0   Others  0.0      O  2010-12-16
          23                    15      92.0   Others  0.0      F  2013-06-20
...                            ...       ...      ...  ...    ...         ...
31        19                    39      81.0   Others  0.0      O  2011-05-26
          20                    13      34.0   Others  0.0      M  2010-03-27
          21                    14     184.0   Others  0.0      M  2012-02-24
          22                    45      33.0   Others  0.0      F  2013-05-22
          23                    59      28.0   Others  0.0      F  2013-05-29

                      gamescore
Start_Day Start_hour
1         19                1.0
          20                0.0
          21                1.0
          22                1.0
          23                0.0
...                         ...
31        19                1.0
          20                0.0
          21                1.0
          22                0.0
          23                1.0

[155 rows x 18 columns]

#### Q1 b.) How many activities per session on average (Over time)?

In [151]:
df_mrg.groupby(["Start_Day"])["id"].count().mean()

962.3225806451613

In [152]:
df_afternoon.groupby(["Start_Day"])["id"].count().mean()

2877.7741935483873

In [153]:
df_night.groupby(["Start_Day"])["id"].count().mean()

1434.6774193548388

#### Q1 c.)How many different games do children play per session?

In [161]:
df_mrg.groupby(["Start_Day"])["gamename"].nunique()

Start_Day
1      8
2      8
3      9
4      7
5      8
6      9
7      8
8      9
9      9
10     9
11     9
12     8
13     9
14     9
15    10
16     9
17     9
18     8
19     8
20     8
21    10
22     9
23     9
24     7
25     8
26     9
27     7
28     8
29    10
30     8
31     9
Name: gamename, dtype: int64

In [163]:
df_afternoon.groupby(["Start_Day"])["gamename"].nunique()

Start_Day
1      9
2      9
3      9
4      8
5      8
6     10
7      9
8      9
9      8
10     9
11    10
12     8
13     9
14     9
15     9
16     9
17     9
18     9
19     9
20     9
21     9
22     8
23     9
24     9
25     8
26    10
27     9
28     9
29     9
30     9
31     9
Name: gamename, dtype: int64

In [164]:
df_night.groupby(["Start_Day"])["gamename"].nunique()

Start_Day
1      8
2      9
3      9
4      9
5      8
6      9
7      9
8      9
9      9
10     9
11     8
12     8
13     9
14     9
15     8
16     8
17     9
18     9
19     9
20     9
21     9
22    10
23     9
24     8
25     8
26     9
27     9
28     9
29     9
30     8
31     8
Name: gamename, dtype: int64

## Retention: